body.light .border-color { border-color: black; }
body.dark .border-color { border-color: white; }

.box { grid-template-columns: 160px 1fr; }

@media (max-width: 1000px) {
    .box { grid-template-columns: repeat(1, 1fr);}
}