body.dark .bg-colors {
  background-color: #0d1117;
  border-color: #ffffff;
}

body.light .bg-colors {
  background-color: #dbf3f5;
  border-color: #0f0f0f;
}

.colors {
  background-color: var(--bg-color);
  color: var(--txt-color);
  border-color: var(--card-border-color);
}

.colors::placeholder {
  color: var(--txt-color)
}