.linkColor {
    color: var(--nav-link-color);
}

.linkColor:hover {
    color: var(--nav-link-color-hover);
}

.nav-button {
    color: var(--txt-color);
}

.nav-bg {
    background-image: linear-gradient(to right, var(--bg-from) 0%, var(--bg-to) 100%);
}

.mobile-nav {
    background-image: linear-gradient(to right, var(--bg-from) 0%, var(--bg-to) 100%);
}
