.colors {
    color: var(--txt-color);
}

body.light .box-shadow:hover {
    box-shadow: 0 0 20px 2px #164e63
}

body.dark .box-shadow:hover {
    box-shadow: 0 0 20px 2px #22d3ee
}

.box {
    grid-template-columns: 160px 1fr;
}

@media (max-width: 1000px) {
    .box { grid-template-columns: repeat(1, 1fr);}
}
