.github-card {
    box-shadow: 0 4px 8px 0 var(--card-shadow-color);
    background-color: var(--card-background-color);
    color: var(--card-text-color);
}

.github-card:hover {
    box-shadow: 0 8px 16px 0 var(--card-shadow-color-hover);
}

.github-link {
    color: var(--card-link-color);
    font-family: "proxima nova";
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    border: solid 2px var(--card-link-color);
    border-radius: 50px;

    padding: 10px 80px;
    margin-top: 20px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.github-link:hover {
    background-color: var(--card-link-color);
    color: var(--card-link-txt-hover-color);
    text-decoration: none;
}