.github-card {
    background-color: var(--card-background-color);
    color: var(--card-text-color);
}

.github-link {
    color: var(--card-link-color);
    font-family: "proxima nova";
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    border: solid 2px var(--card-link-color);
    border-radius: 20px;

    padding: 10px 80px;
    margin-top: 20px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.github-link:hover {
    background-color: var(--card-link-color);
    color: var(--card-link-txt-hover-color);
    text-decoration: none;
}

.text {
    color: var(--txt-color);
}