body.light {
  /* Main */
  --bg-color: #F4FDFF;
  --txt-color: black;

  /* Navigation */
  --nav-txt-color: black;
  --nav-btn-hover: gray;

  /* Landing Page */
  --name-color: #595757;
  --secondary-txt-color: #878787;

  /* Project Cards */
  --card-background-color: #fffff9;
  --card-text-color: black;
  --card-shadow-color: #0d1117;
  --card-shadow-color-hover: darkgray;
  --card-link-color: rgb(6 182 212 / 1);
  --card-link-txt-hover-color: white;

  /* Fetching Repos */
  --f-bg-color: rgb(55 65 81 / 1);
}

body.dark {
  /* Main */
  --bg-color: #151922;
  --txt-color: white;

  /* Navigation */
  --nav-txt-color: white;
  --nav-btn-hover: whitesmoke;

  /* Landing Page */
  --name-color: #f2ebeb;
  --secondary-txt-color: #b3b3b3;

  /* Project Cards */
  --card-background-color: #0d1117;
  --card-text-color: white;
  --card-shadow-color: whitesmoke;
  --card-shadow-color-hover: whitesmoke;
  --card-link-color: rgb(6 182 212 / 1);
  --card-link-txt-hover-color: white;

  /* Fetching Repos */
  --f-bg-color: rgb(255 255 255);
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  transition: 500ms ease-in-out;
}